
<nav>
    <ul>

        
        {% if user.is_superuser or user.is_authenticated and user.profiluzytkownika.rola == "Pracownik" %}
            <li><a href="{% url 'staff_auctions' %}">Panel Pracownika: Aukcje do zamknięcia</a></li>
            <li><a href="{% url 'staff_payments' %}">Panel Pracownika: Oczekujące wpłaty</a></li>
        {% endif %}
        
        {% if user.is_superuser or user.is_authenticated and user.profiluzytkownika.rola == "Klient" %}
            <li><a href="{% url 'client_invoices' %}">Moje Rachunki</a></li>
            <li><a href="{% url "my_profile" %}" >Mój Profil</a></li>
            <li><a href="{% url "my_offers" %}">Moje Aukcje</a></li>
            <li><a href="{% url "my_biddings" %}">Aukcje w których licytuje</a></li>
            <li><a href="{% url "add_auction" %}">Dodaj Aukcje</a></li>
            <li><a href="{% url "auction_list" %}">Wszystkie Aukcje</a></li>
        {% endif %}
        
        {% if not user.is_authenticated %}
            <li><a href="{% url "auction_list" %}">Wszystkie Aukcje</a></li>
            <li><a href="{% url "add_auction" %}">Dodaj Aukcje</a></li>
            <li><a href="{% url "my_profile" %}" >Mój Profil</a></li>
            <li><a href="{% url "my_offers" %}">Moje Aukcje</a></li>
        {% endif %}
        
        <li>

            {% if user.is_authenticated %}
            
                <li >
                    <span>
                        Zalogowany: {{ user.username }}
                    </span>
                </li>

                <li >
                    <form method="post" action="{% url 'logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit">Wyloguj</button>
                    </form>
                </li>
            {% else %}
                <li >
                    <a  href="{% url 'login' %}">Zaloguj się</a>
                </li>
            {% endif %}

        </li>
    </ul>
</nav>
