{% extends "basic.html" %}

{% block css %}

{% endblock css %}

{% block title %}
    Wszystkie Aukcje
{% endblock title %}

{% block main %}
    {% include "serwis/include/nav.html" %}
    
    <main class="main-content container">
        <header class="page-header">
            <h1 class="page-title">Dodawanie Aukcji</h1>
        </header>

        <section class="form-section">
            <form method="POST" enctype="multipart/form-data" class="custom-form">
                {% csrf_token %}
                
                <div class="form-body">
                    {{form.as_p}}
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Dodaj Aukcje</button>
                </div>
            </form>
        </section>
    </main>
{% endblock main %}