{% extends "basic.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "serwis/auctions.css" %}">
{% endblock css %}

{% block title %}
    Wszystkie Aukcje
{% endblock title %}

{% block main %}
    {% include "serwis/include/nav.html" %}
    
    <main class="main-content container">
        <header class="page-header">
            <h1 class="page-title">Wszystkie Aukcje</h1>
        </header>

        <section class="items-list-section">
            <ul class="cards-grid">
                {% for x in all_auctions %}
                    <li class="card-item">
                        <a href="{% url 'action_detail' x.slug %}" class="card-link">
                            <article class="card-content">
                                <div class="card-image-wrapper">
                                    <img src="{{x.image.url}}" alt="{{x.nazwa_produktu}}" class="card-image" width="200" height="200">
                                </div>
                                <div class="card-details">
                                    <h2 class="card-title">{{x.nazwa_produktu}}</h2>
                                    <p class="card-meta">
                                        <span class="meta-label">Aukcja trwa od:</span> {{x.data_wystawienia}} 
                                        <br>
                                        <span class="meta-label">do:</span> {{x.data_zakonczenia}}
                                    </p>
                                </div>
                            </article>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock main %}