{% extends "basic.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'serwis/auth.css' %}">
{% endblock css %}

{% block title %}Rejestracja{% endblock title %}

{% block main %}
    <main class="main-content container auth-container">
        <header class="page-header">
            <h1 class="page-title">Załóż konto</h1>
        </header>

        <section class="auth-section">
            <form method="post" class="custom-form auth-form">
                {% csrf_token %}
                
                <div class="form-body">
                    {{ form.as_p }}
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Zarejestruj</button>
                </div>

                <div class="form-footer mt-3">
                    <p>Masz już konto? <a href="{% url 'login' %}" class="text-link">Zaloguj się</a>.</p>
                </div>
            </form>
        </section>
    </main>
{% endblock main %}