# Django
DJANGO_SECRET_KEY = t08d5b@q3(oq0%&h+y+s1gvxu_7s1hcqogzx2*$g23w2oshjs#
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=mojsklep.com,www.mojsklep.com,mojsklep.onrender.com

# CSRF: pełne origin-y ze schematem https:// (TO NIE jest to samo co ALLOWED_HOSTS!).
# ALLOWED_HOSTS to nazwy hostów, CSRF_TRUSTED_ORIGINS to pełne adresy ze schematem.
DJANGO_CSRF_ORIGINS=https://mojsklep.com,https://www.mojsklep.com,https://mojsklep.onrender.com

# Baza danych PostgreSQL (lekcja 8)
DB_NAME=sklep
DB_USER=sklep_user
DB_PASSWORD=super_tajne_haslo
DB_HOST=localhost
DB_PORT=5432

# Superużytkownik tworzony przez --no-input w deployu (lekcja 9.5)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=dlugie-i-losowe-haslo