{% extends "sklep_aplikacja/bazowy.html" %}

{% block title %}Sklep internetowy – Strona główna{% endblock %}

{% block content %}
    <h1>Witaj w naszym sklepie!</h1>
    <p>Wybierz, dokąd chcesz przejść:</p>

    <ul>
        <li><a href="{% url 'lista_produktow' %}">Wszystkie produkty</a></li>
        <li><a href="/admin/">Panel administratora</a></li>
    </ul>

    <p>Kolejne sekcje (logowanie, historia zamówień, panel pracownika) dodamy w sekcji 11 (Logowanie, konta, koszyk).</p>
{% endblock %}