# Django
DJANGO_SECRET_KEY=tutaj_wklej_dlugi_i_skomplikowany_klucz_na_produkcje
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=mojsklep.com,www.mojsklep.com

# Baza danych PostgreSQL
DB_NAME=sklep_internetowy_projekt
DB_USER=sklep_user
DB_PASSWORD=super_tajne_haslo_produkcyjne
DB_HOST=localhost
DB_PORT=5432
